<% escaper = com.google.common.net.UrlEscapers.urlPathSegmentEscaper() %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>${category.parent ? category.name : siteConfig.title}</title>

        <link rel=stylesheet href=/css/microbox.css />
        <link rel=stylesheet href=/css/dkb-photo-site.css />
    </head>

    <header>
        <h1>David Bernard</h1>
        <nav>
            <hr>
            <h3>Pages</h3>
            <ul>
                <li class=selected><a href="/">Home</a></li>
                <!-- Could be extended to add links to markdown-generated static
                     pages here. -->
            </ul>
            <hr>
            <h3>Categories</h3>
            <ul><% category.root.subcategories.each { topLevelCat -> %>
                <li class="${category.isDescendantOf(topLevelCat) ?  'selected' : ''}" >
                    <a href="/${escaper.escape(topLevelCat.name)}/">${topLevelCat.name}</a></li>
            <% } %></ul>
        </nav>
        <hr>
        <div class=about>${siteConfig.description}</div>
    </header>

    <section><% category.subcategories.findAll { it.images }.each { subcat -> %>
        <div class=category-preview><a href="${escaper.escape(subcat.name)}/">
            <img src="${escaper.escape(subcat.name)}/${escaper.escape(subcat.images[0].filename)}">
            <span class=category-name>${subcat.name}</span>
            <!--<span class=common-name>subcat.commonName-->
        </a></div>
    <% } %></section>

    <section><% category.images.each { image -> %>
        <div class=image-preview><a href="${escaper.escape(image.filename)}">
            <img src="${escaper.escape(image.filename)}">
            <span class=common-name>${image.commonName}</span>
            <span class=scientific-name>${image.scientificName}</span>
    <% } %></section>
</html>
