@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400|Oswald:400,300);

$xSmallScreen: 320px;
$smallScreen: 640px;
$wideScreen: 1200px;
$ultraWideScreen: 1600px;

/** ### forSize
  * This mixin allows us to apply some rules selectively based on the screen
  * size. There are three primary sizes: `small`, `medium`, and `large`, which
  * are mutually exclusive. Additionally there are two additional sizes:
  * `notSmall` and `ultraLarge`. `notSmall`, as the name implies matches any
  * value which is not the small screen size, so it overlaps with medium,
  * large, and ultraLarge. `ultraLarge` defines a wider minimum screen size
  * than large, but neither large nor ultraLarge specify maximum widths,
  * so ultraLarge is a strict subset of large. A screen large enough to match
  * ultraLarge will also match large (compare with medium and large: matching
  * medium means it will not match large, and vice versa). */
@mixin forSize($size) {

    @if $size == xsmall {
        @media screen and (max-width: $xSmallScreen) { @content; } }
    @else if $size == small {
        @media screen and (max-width: $smallScreen) { @content; } }
    @else if $size == notSmall {
        @media screen and (min-width: $smallScreen + 1) { @content; } }
    @else if $size == medium {
        @media screen and (min-width: $smallScreen + 1) and (max-width: $wideScreen - 1) { @content; } }
    @else if $size == large {
        @media screen and (min-width: $wideScreen) { @content; } }
    @else if $size == ultraLarge {
        @media screen and (min-width: $ultraWideScreen) { @content; } }
}


* { box-sizing: border-box; }

$headFont:"Oswald";
$bodyFont:"PT Sans Narrow";

//$darkColor:#333;
//$medDarkColor:#555;
//$lightColor:#9BD;

$darkColor:#3F3D38;
$medDarkColor:#5F5858;
$lightColor:#CFBFB0;

html, body {
    background-color: white;
    font-family: $bodyFont, sans-serif;
    margin: 0;
    padding: 0;
}

body { position: relative; }

header {
    background: $darkColor;
    border-left: 0.5em solid $medDarkColor;
    border-right: 0.5em solid $medDarkColor;  
    box-shadow: inset 0 0 5px 2px #222;
    color: $lightColor;
    padding: 1rem;

    hr {
        background-color: $medDarkColor;
        border: none;
        height: 1px;
        margin: 2rem 0 2rem 0;
    }

    h1 {
        text-align: center;
        margin: 1.5em 0 1.5em 0;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            color: #eee;
            text-decoration: none;
        }
    }

    div.about { margin-bottom: 1rem; }
}

section {
    padding: 1rem;

    div.category-preview {
        display: inline-block;  
        margin: 0 1rem 1rem 1rem;

        .category-name, .common-name {
            display: block;
            text-align: center
        }

        .category-name {
            font-family: $headFont;
            font-size: 115%;
            font-weight: 300;
        }

        img { box-shadow: 2px 2px 5px 0px grey; }
    }
}

h1, h2, h3, h4 {
    font-family: $headFont;
    font-variant-caps: small-caps;
    font-weight: normal;
}

@include forSize(notSmall) {

    header {
        margin: -1rem 0 -1rem 0;
        width: 20rem;

        position: absolute;
        top: 0;
        left: 0;

        h1 { padding: 0 5rem 0 5rem; }
    }

    section {
        margin-left: 20rem;

        div.category-preview {
            height: calc(180px + 3rem);
            width: 180px;

            img {
                width: 180px;
                max-height: 180px;
            }
        }
    }
}

@include forSize(small) {

    header {
        margin-top: -1rem;
        width: 100%;

        h1 { padding: 0 25% 0 25%; }
    }

    section {
        border-top: solid thin black;

        .category-preview {
            max-width: 180px;
            min-width: 120px;
            min-height: calc(120px + 3rem);
            max-height: calc(180px + 3rem);
            width: 40%;

            img {
                max-width: 180px;
                min-width: 120px;
                max-height: 180px;
                width: 100%;
            }
        }
    }
}
