@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  --base-font-size: 16px;
  --base-image-width: 29vw;
}

body {
  color: white;
  background-color: #555B67;
  font-family: 'Cairo', sans-serif;
  font-size: var(--base-font-size);
  overflow-x: hidden;
  transition-duration: 0.5s;
  transition-property: align-items justify-content;
  width: 100%;
}

h1 {
  font-size: 4em;
  font-weight: 200;
}

header a {
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}

.loading-splash {
  opacity: 0;
  transition-property: opacity, z-index;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  background-color: #555B67;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.loading-splash h1 { margin-bottom: 0; }

.loading-bar { width: 67%; }

.loading-bar hr {
  animation-duration: 10s;
  animation-name: load-bar;
  animation-timing-function: linear;
  color: white;
  height: 2px;
}

.loading-photo {
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-photo-1,
.loading-photo-2,
.loading-photo-3 {
  background-color: #acf;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  animation: loading-bounce 1s ease-in-out infinite alternate;
  position: relative;
}

.loading-photo-2 { animation-delay: 0.25s; }
.loading-photo-3 { animation-delay: 0.5s; }

@keyframes load-bar {
  from { width: 10%; }
  to { width: 100%; }
}

@keyframes loading-bounce {
  from { transform: translateY(-1em); }
  to { transform: translateY(1em); }
}

/* body.loading */
body.loading {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body.loading div.loading-splash {
  opacity: 1;
  z-index: 100;
}

header {
  margin: 2rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}

header > div { margin-left: 3em; }

h2.breadcrumbs {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 200;
}

.breadcrumbs a + a:before { content: " | "; }

/* .description */
.description {
  margin-left: 3rem;
  font-size: 1.5rem;
  font-family: 'Cairo', sans-serif;
  max-width: 54ch;
}

/* .categories */
.categories, .photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
}

.loading-photo { display: none; }

.categories a.loading .loading-photo,
.photos a.loading .loading-photo {
  display: flex;
}

.categories a, .photos a {
  border: solid 1px hsla(220, 10%, 37%, 1);
  border-radius: 4px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
  color: white;
  margin-bottom: 3.75rem;
  height: calc(var(--base-image-width) * 9 / 16 + 2px);
  min-width: var(--base-image-width);
  position: relative;
}

.categories a img, .photos a img {
  border-radius: 4px;
  object-fit: cover;
  height: calc(var(--base-image-width) * 9 / 16);
  width: var(--base-image-width);
}

.categories a img.align-top, .photos a img.align-top {
  object-position: top;
}

.categories a .category-title, .photos a .photo-title {
  display: flex;
  align-items: end;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6.875rem;
  padding-left: 1rem;
}

.categories a .category-title {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 27.6%);
}

.photos a .photo-title {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.5) 57.6%);
  font-size: 1.75em;
}

footer {
  color: #bbbbbb;
  width: 100%;
  text-align: center;
}

/* Mobiles devices */
@media screen and (max-width: 400px) {
  html {
    --base-font-size: 12px;
  }

  body {
    padding: 1em;
  }

  header, .descrpition { margin: 0; }

  h1 {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 a { text-align: center; }

  h1 span:nth-child(2) { display: none; }

  .categories {
    flex-direction: column;
    flex-wrap: unset;
  }

  .categories a {
    margin: 1rem 0;
    height: calc((100vw - 3rem) * 9 / 16 + 2px);
    width: calc(100vw - 3rem + 2px);
  }

  .categories a img {
    height: calc((100vw - 3rem) * 9 / 16);
    width: calc(100vw - 3rem);
  }
}

@media screen and (max-width: 1024px) and (min-width: 401px) {
  html { --base-font-size: 8px; }
  header {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
}

@media screen and (min-width: 2160px) {
  html { --base-image-width: 23vw; }
}

.debug-button {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 1000;
}
