@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  --base-font-size: 16px;
}

body {
    background-color: #555B67;
    font-family: 'Cairo', sans-serif;
    font-size: var(--base-font-size);
}

body.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: 200;
}

/* Mobiles devices */
@media screen and (max-width: 400px) {
  html {
    --base-font-size: 12px;
  }

  h1 { font-size: 3em;  }

  body.splash h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body.splash h1 span:nth-child(2) { display: none; }
}

@media screen and (max-width: 1024px) and (min-width: 401px) {
  html {
		--base-font-size: 8px;
  }
}